# ignore node dependency directories
node_modules/

# ignore gulpfile
gulpfile.js

#ignore screenshot.png
screenshot.png

# ignore Analytical Tracking
parts/page-header-tracking.php

# ignore Favicons
parts/page-favicons.php

# ignore scripts.js unminified file
assets/js/scripts.js

# ignore img folder
assets/img/