h1 {
  text-transform: uppercase;
  font-family: 'EB Garamond', serif;
  font-weight: 600;
}
h2 {
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;

}
h3 {
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}
body {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

.home-hero {
	min-height: 275px;
	width: 100%;
	border-bottom: 4px solid #dc3545;
}

.hero-row {
	background:#fff;
	border:2px solid #ccc;
	@include breakpoint (md) {
		margin-top: 3em;
	}
}

.mission {
  display: block;
  background-color: #e3f2fd;
  @include breakpoint (lg) {
    padding-top: 3.2rem;
  }
}

.parallax-cta {
  	width: 100%;
  	height: 500px;
  	text-shadow: 2px 2px #333;
  	background: #222;
  	background-position: bottom center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-attachment: fixed;
  	border-bottom: 4px solid blue;
}

.testimonials {
  	width: 100%;
  	min-height: 150px;
}

.customer-testimonials {
  	background: #fff;
}

.footer {
  color: #fff;
  font-size: 1.2rem;
  background: #333;
  min-height: 350px;
  width: 100%;
  border-top: 3px solid blue;
}

.featured-prop {
  min-height: 350px;
  width: 100%;
  background-position: middle middle;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-top: 4px solid #dc3545;
}

.helpful-links {
  background: #e3f2fd;
  width: 100%;
  min-height: 300px;
}

.tel {
  color: #fff;
  transition: 0.4s ease-in-out;
  &:hover {
    color: #ccc;
    transition: 0.4s ease-in-out;
  }
}
/* == testimonal widget == */
.bx-next,
.bx-prev {
  display:none;
}
.testimonials-widget-testimonial > blockquote {
  font-size: 1.2rem;
  font-style: italic;
}
span.author {
  font-weight: bold;
  font-size: 1.2rem;
}
/* == END testimonal widget == */